.dark{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem; 
    color: var(--cor1);
}

.btn-dark{
    padding: 5px;
    border: 3px solid var(--cor1);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    color: var(--cor1);
    background-color: var(--cor2);
}