header {
    display: flex;
    background-color: var(--cor2);
    height: 70px;
    padding: 0 20px;
}

.icone {
    height: 50px;
    width: 50px;
    margin-right: 600px;
    border-radius: 10px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.atalhos {
    margin-left: 5px;
    color: var(--cor1);
    background-image:
        linear-gradient(transparent 0%,
            transparent 90%,
            orange 90%,
            orange 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
    font-weight: bold;
    text-transform: uppercase;
}

.atalhos:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.botao2 {
    cursor: pointer;
}

.atalhos-btn {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 40px 5px 40px;
    text-transform: uppercase;
    background-color: #fff;
}

.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.btn-dark {
    padding: 5px;
    border: 3px solid;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    color: var(--cor1);
    background-color: var(--cor2);
    font-weight: bold;
}

@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .icone {
        margin-right: 60px;
        margin-left: -50px;
        width: 70px;
        height: 70px;
    }

    .cabecalho {
        width: 740px;
        margin-top: 50px;
        margin-left: 40px;
    }
}