@import 'header.css';
@import 'sessao1.css';
@import 'sessao2.css';
@import 'sessao3.css';
@import 'sessao4.css';
@import 'footer.css';
@import 'btn-dark.css';

:root{
    --cor1: #383737;
    --cor2:  #ffffff;
}

:root .dark-mode{
   --cor1: #f7f7f7;
   --cor2: #383737;
}

.main{
    background-color: var(--cor2);
}

