#sessao-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
}

.vantagens{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor1);
}

.imagemCartoes{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 30px;
    margin-left: 40px;
}